body {
    background: #E9E9E9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

.inner-wrap {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
nav {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    .navbar-brand {
        a {
            color: #BD1E23;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

textarea {
    min-height: 250px;
}
